body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.color-orange {
    color: orange;
}

.flexible-display {
    display: flex;

}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.Red {
    color: red;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Experiences-class {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-shadow: 20px 20px 40px gray;
    border-radius: 10px;
}

#full-stack {
    border-left: 7px tomato;
}

#baby {
    border-left: 7px tomato;
}

footer p {
    text-align: center;
}